@model IssueWithRepo

@if (Model.Issue.Assignee != null)
{
    <a href="@Model.Issue.Assignee.HtmlUrl">
        <img style="float:left; margin:0.5em" height="32" width="32" src="@(Model.Issue.Assignee.AvatarUrl ?? "https://avatars1.githubusercontent.com/u/583231?v=3")" title="@Model.Issue.Assignee.Login" />
    </a>
}

<div><strong>@Model.Issue.Title</strong></div>

#<a href="@Model.Issue.HtmlUrl">@Model.Issue.Number</a>

<span class="badge">@(Model.Issue.Milestone?.Title ?? "<no milestone>")</span>
<span class="badge">@Model.RepoName</span>
