@model PullRequestWithRepo

@{
    var isOld = Model.PullRequest.CreatedAt < DateTimeOffset.Now.AddDays(-14);
}

<div class="row">
    <div class="col-md-1">
        <a href="@Model.PullRequest.User.HtmlUrl">
            <img style="margin:0.1em" height="32" width="32" src="@(Model.PullRequest.User.AvatarUrl ?? "https://avatars1.githubusercontent.com/u/583231?v=3")" title="@Model.PullRequest.User.Login" />
        </a>
    </div>

    <div class="col-md-1">
        <span style="margin:0.1em; font-size: large">#<a href="@Model.PullRequest.HtmlUrl">@Model.PullRequest.Number</a></span>
    </div>

    <div class="col-md-10">
        <div>
            <strong>@Model.PullRequest.Title</strong>
            @if (isOld)
            {
                <span class="label label-danger">Stale!</span>
            }
        </div>

        <span class="badge pull-right" style="margin-left: 4px" data-toggle="tooltip" data-placement="bottom" title="Opened on @Model.PullRequest.CreatedAt.Date.ToLongDateString()">Opened @Model.PullRequest.CreatedAt.ToDaysAgo()</span>
        <span class="badge pull-right" style="margin-left: 4px">@Model.RepoName</span>
    </div>
</div>
