@model PullRequestWithRepo

@{
    var isOld = Model.PullRequest.CreatedAt < DateTimeOffset.Now.AddDays(-14);
}

<div class="row">
    <div class="col-md-3" style="white-space:nowrap;">
        <a href="@Model.PullRequest.User.HtmlUrl">
            <img style="margin:0.1em" height="32" width="32" src="@(Model.PullRequest.User.AvatarUrl ?? "https://avatars1.githubusercontent.com/u/583231?v=3")" title="@Model.PullRequest.User.Login" alt="@Model.PullRequest.User.Login" />
        </a>
        @if (Model.PullRequest.Assignee != null)
        {
            <span class="glyphicon glyphicon-arrow-right"></span>
            <a href="@Model.PullRequest.Assignee.HtmlUrl">
                <img style="margin:0.1em" height="32" width="32" src="@(Model.PullRequest.Assignee.AvatarUrl ?? "https://avatars1.githubusercontent.com/u/583231?v=3")" title="@Model.PullRequest.Assignee.Login" alt="@Model.PullRequest.Assignee.Login" />
            </a>
        }

        <span style="margin-left:1.5em; font-size: large">#<a href="@Model.PullRequest.HtmlUrl">@Model.PullRequest.Number</a></span>
    </div>

    <div class="col-md-9">
        <div>
            <strong>@Model.PullRequest.Title</strong>
            @if (isOld)
            {
                <span class="label label-danger">Stale!</span>
            }
        </div>

        <span class="badge pull-right" style="margin-left: 4px" data-toggle="tooltip" data-placement="bottom" title="Opened on @Model.PullRequest.CreatedAt.ToPacificTime().ToString()">Opened @Model.PullRequest.CreatedAt.ToTimeAgo()</span>
        <span class="badge pull-right" style="margin-left: 4px">@Model.Repo.Owner/@Model.Repo.Name</span>
    </div>
</div>
