@model IssueListViewModel

@{
    ViewData["PageTitlePrefix"] = Model.RepoSetName;
    ViewData["GitHubUserName"] = Model.GitHubUserName;
    ViewData["RepoSetNames"] = Model.RepoSetNames;
    ViewData["CurrentRepoSetName"] = Model.RepoSetName;
}

<div class="row">
    <div class="col-md-8">
        <ul class="nav nav-pills" id="app-tabs">
            <li class="active"><a href="#group-by-assignee">Group by assignee</a></li>
            <li class=""><a href="#group-by-milestone">Group by milestone</a></li>
            <li class=""><a href="#group-by-repo">Group by repo</a></li>
        </ul>
    </div>
    <div class="col-md-4 text-right">
        <button class="btn btn-info chevronButton" type="button" data-toggle="collapse" data-target="#reposIncludedGroup">
            <span id="chevronGlyph" class="glyphicon glyphicon-chevron-right"></span>
            Included repos <span class="badge">@Model.ReposIncluded.Count</span>
        </button>
    </div>
</div>

<br />

<div class="collapse" id="reposIncludedGroup">
    <div class="well">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Repo</th>
                    <th># open</th>
                    <th># untriaged</th>
                    <th># unassigned</th>
                    <th># working</th>
                    <th>Open PRs</th>
                    <th>Stale PRs</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var repo in Model.ReposIncluded)
                {
                    <tr>
                        <td><a href="https://github.com/@repo.Repo.Owner/@repo.Repo.Name/issues">@repo.Repo.Owner/@repo.Repo.Name</a></td>
                        <td class="@(repo.OpenIssues > 0 ? "info" : "")"><a href="@repo.OpenIssuesQueryUrl">@repo.OpenIssues</a></td>
                        <td class="@(repo.UntriagedIssues > 0 ? "warning" : "")"><a href="@repo.UntriagedIssuesQueryUrl">@repo.UntriagedIssues</a></td>
                        <td class="@(repo.UnassignedIssues > 0 ? "warning" : "")"><a href="@repo.UnassignedIssuesQueryUrl">@repo.UnassignedIssues</a></td>
                        <td class="@(repo.WorkingIssues > 0 ? "success" : "")"><a href="@repo.WorkingIssuesQueryUrl">@repo.WorkingIssues</a></td>
                        <td class="@(repo.OpenPRs > 0 ? "success" : "")"><a href="@repo.OpenPRsQueryUrl">@repo.OpenPRs</a></td>
                        <td class="@(repo.StalePRs > 0 ? "danger" : "")"><a href="@repo.StalePRsQueryUrl">@repo.StalePRs</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td style="font-weight:bold; border-top-width: 2px;">Total</td>
                    @{
                        var totalOpenIssues = Model.ReposIncluded.Sum(repo => repo.OpenIssues);
                        var totalUntriagedIssues = Model.ReposIncluded.Sum(repo => repo.UntriagedIssues);
                        var totalUnassignedIssues = Model.ReposIncluded.Sum(repo => repo.UnassignedIssues);
                        var totalWorkingIssues = Model.ReposIncluded.Sum(repo => repo.WorkingIssues);
                        var totalOpenPRs = Model.ReposIncluded.Sum(repo => repo.OpenPRs);
                        var totalStalePRs = Model.ReposIncluded.Sum(repo => repo.StalePRs);
                    }
                    <td style="font-weight:bold; border-top-width: 2px;" class="@(totalOpenIssues > 0 ? "info" : "")">@totalOpenIssues</td>
                    <td style="font-weight:bold; border-top-width: 2px;" class="@(totalUntriagedIssues > 0 ? "warning" : "")">@totalUntriagedIssues</td>
                    <td style="font-weight:bold; border-top-width: 2px;" class="@(totalUnassignedIssues > 0 ? "warning" : "")">@totalUnassignedIssues</td>
                    <td style="font-weight:bold; border-top-width: 2px;" class="@(totalWorkingIssues > 0 ? "success" : "")">@totalWorkingIssues</td>
                    <td style="font-weight:bold; border-top-width: 2px;" class="@(totalOpenPRs > 0 ? "success" : "")">@totalOpenPRs</td>
                    <td style="font-weight:bold; border-top-width: 2px;" class="@(totalStalePRs > 0 ? "danger" : "")">@totalStalePRs</td>
                </tr>
            </tfoot>
        </table>

        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Repo</th>
                    @foreach (var milestone in Model.MilestonesAvailable)
                    {
                        <th>@(milestone ?? "<no milestone>")</th>
                    }
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var repoMilestone in Model.MilestoneSummary)
                {
                    <tr>
                        <td><a href="https://github.com/@repoMilestone.Repo.Owner/@repoMilestone.Repo.Name/issues">@repoMilestone.Repo.Owner/@repoMilestone.Repo.Name</a></td>
                        @foreach (var milestone in Model.MilestonesAvailable)
                        {
                            var issuesInRepoMilestone = repoMilestone.MilestoneData.SingleOrDefault(repoMilestoneData => repoMilestoneData.Milestone == milestone)?.OpenIssues ?? 0;
                            var milestoneQuery = milestone == null ? "no:milestone" : "milestone:\"" + milestone + "\"";
                            <td class="@(issuesInRepoMilestone > 0 ? "success" : "")"><a href="https://github.com/@repoMilestone.Repo.Owner/@repoMilestone.Repo.Name/issues?q=is:open%20is:issue%20@(milestoneQuery)">@issuesInRepoMilestone</a></td>
                        }
                        @{
                            var total = repoMilestone.MilestoneData.Select(milestoneData => milestoneData.OpenIssues).Sum();
                        }
                        <td class="@(total > 0 ? "success" : "")">@total</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td style="font-weight:bold; border-top-width: 2px;">Total</td>
                    @foreach (var milestone in Model.MilestonesAvailable)
                    {
                        var issuesInMilestone = Model.MilestoneSummary.Sum(milestoneSummary => milestoneSummary.MilestoneData.SingleOrDefault(repoMilestoneData => repoMilestoneData.Milestone == milestone)?.OpenIssues ?? 0);
                        <td style="font-weight:bold; border-top-width: 2px;" class="@(issuesInMilestone > 0 ? "success" : "")">@issuesInMilestone</td>
                    }
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@foreach (var repoFailure in Model.RepoFailures)
{
    <div class="alert alert-danger"><strong>@repoFailure.Repo.Owner/@repoFailure.Repo.Name</strong>: @repoFailure.FailureMessage</div>
}

<div class="row">
    <div class="col-md-2 col-md-push-10">
        <h3>Issues</h3>
        <div class="alert alert-info" data-toggle="tooltip" data-placement="left" title="Open issues not in Backlog milestone">
            <a href="@Model.OpenIssuesQuery">Open</a> <span class="badge">@Model.TotalIssues</span>
        </div>
        <div class="alert alert-warning" data-toggle="tooltip" data-placement="left" title="Open issues not in a milestone">
            <a href="@Model.UntriagedIssuesQuery">Untriaged</a> <span class="badge">@Model.UntriagedIssues</span>
        </div>
        <div class="alert alert-warning" data-toggle="tooltip" data-placement="left" title="Open issues not assigned">
            <a href="@Model.UnassignedIssuesQuery">Unassigned</a> <span class="badge">@Model.UnassignedIssues</span>
        </div>
        <div class="alert alert-success" data-toggle="tooltip" data-placement="left" title="Open issues with '2 - Working' label">
            <a href="@Model.WorkingIssuesQuery">Working</a> <span class="badge">@Model.WorkingIssues</span>
        </div>
        <h3>PRs</h3>
        <div class="alert alert-success" data-toggle="tooltip" data-placement="left" title="Open PRs">
            <a href="@Model.OpenPRsQuery">Open</a> <span class="badge">@Model.OpenPullRequests</span>
        </div>
        <div class="alert alert-danger" data-toggle="tooltip" data-placement="left" title="Open PRs over 14 days old">
            <a href="@Model.StalePRsQuery">Stale</a> <span class="badge">@Model.StalePullRequests</span>
        </div>
        @if (Model.ExtraLinks != null && Model.ExtraLinks.Count > 0)
        {
            <h3>Links</h3>
            <ul>
                @foreach (var extraLink in Model.ExtraLinks)
                {
                    <li>
                        <a href="@extraLink.Url">@extraLink.Title</a>
                    </li>
                }
            </ul>
        }
    </div>

    <div class="col-md-10 col-md-pull-2">
        <div class="tab-content">
            <div class="tab-pane active" id="group-by-assignee">
                @foreach (var assignee in Model.GroupByAssignee.Assignees)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>@(assignee.Assignee ?? "<not assigned>")</strong></h3>
                        </div>
                        <div class="panel-body">
                            <h4>Working on issues <span class="badge">@assignee.Issues.Count</span></h4>
                            @if (assignee.Issues.Any())
                            {
                                <ul class="list-group">
                                    @foreach (var issue in assignee.Issues)
                                    {
                                        <li class="list-group-item" style="@(issue.IsInAssociatedPersonSet ? "" : "background-color: wheat")">
                                            @await Html.PartialAsync("_Issue", issue)
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <div style="margin-left: 2em;">Not working on any assigned issues</div>
                            }

                            <h4>Pull requests created <span class="badge">@assignee.CreatedPullRequests.Count</span></h4>
                            @if (assignee.CreatedPullRequests.Any())
                            {
                                <ul class="list-group">
                                    @foreach (var pullRequest in assignee.CreatedPullRequests)
                                    {
                                        <li class="list-group-item" style="@(pullRequest.IsInAssociatedPersonSet ? "" : "background-color: wheat")">
                                            @await Html.PartialAsync("_PullRequest", pullRequest)
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <div style="margin-left: 2em;">No pull requests created</div>
                            }

                            <h4>Other assigned issues <span class="badge">@assignee.OtherIssues.Count</span></h4>
                            @if (assignee.OtherIssues.Any())
                            {
                                <div>
                                    <button class="btn btn-info chevronButton" type="button" data-toggle="collapse" data-target="#collapse-otherissues-@assignee.Assignee">
                                        <span id="chevronGlyph" class="glyphicon glyphicon-chevron-right"></span>
                                        Show/hide
                                    </button>
                                </div>

                                <div class="collapse" id="collapse-otherissues-@assignee.Assignee" style="margin-top:10px">
                                    <ul class="list-group">
                                        @foreach (var issue in assignee.OtherIssues)
                                        {
                                            <li class="list-group-item" style="@(issue.IsInAssociatedPersonSet ? "" : "background-color: wheat")">
                                                @await Html.PartialAsync("_Issue", issue)
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div style="margin-left: 2em;">No other assigned issues</div>
                            }
                        </div>
                    </div>
                }

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Other pull requests</strong> <span class="badge">@Model.GroupByAssignee.OtherPullRequests.Count</span></h3>
                    </div>
                    <div class="panel-body">
                        @if (Model.GroupByAssignee.OtherPullRequests.Any())
                        {
                            <ul class="list-group">
                                @foreach (var pullRequest in Model.GroupByAssignee.OtherPullRequests)
                                {
                                    <li class="list-group-item" style="@(pullRequest.IsInAssociatedPersonSet ? "" : "background-color: wheat")">
                                        @await Html.PartialAsync("_PullRequest", pullRequest)
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <h3>No open pull requests, go write some code!</h3>
                        }
                    </div>
                </div>

            </div>

            <div class="tab-pane" id="group-by-milestone">
                @foreach (var milestone in Model.GroupByMilestone.Milestones)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>@(milestone.Milestone ?? "<no milestone>")</strong></h3>
                        </div>
                        <div class="panel-body">

                            <h4>Issues being worked on in this milestone <span class="badge">@milestone.Issues.Count</span></h4>
                            @if (milestone.Issues.Any())
                            {
                                <ul class="list-group">
                                    @foreach (var issue in milestone.Issues)
                                    {
                                        <li class="list-group-item" style="@(issue.IsInAssociatedPersonSet ? "" : "background-color: wheat")">
                                            @await Html.PartialAsync("_Issue", issue)
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <div style="margin-left: 2em;">Not working on issues in this milestone</div>
                            }

                            <h4>Pull requests in this milestone <span class="badge">@milestone.PullRequests.Count</span></h4>
                            @if (milestone.PullRequests.Any())
                            {
                                <ul class="list-group">
                                    @foreach (var pullRequest in milestone.PullRequests)
                                    {
                                        <li class="list-group-item" style="@(pullRequest.IsInAssociatedPersonSet ? "" : "background-color: wheat")">
                                            @await Html.PartialAsync("_PullRequest", pullRequest)
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <div style="margin-left: 2em;">No pull requests in this milestone</div>
                            }

                        </div>
                    </div>
                }
            </div>

            <div class="tab-pane" id="group-by-repo">
                @foreach (var repo in Model.GroupByRepo.Repos)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>@repo.Repo.Owner/@repo.Repo.Name</strong></h3>
                        </div>
                        <div class="panel-body">

                            <h4>Issues being worked on in this repo <span class="badge">@repo.Issues.Count</span></h4>
                            @if (repo.Issues.Any())
                            {
                                <ul class="list-group">
                                    @foreach (var issue in repo.Issues)
                                    {
                                        <li class="list-group-item" style="@(issue.IsInAssociatedPersonSet ? "" : "background-color: wheat")">
                                            @await Html.PartialAsync("_Issue", issue)
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <div style="margin-left: 2em;">Not working on issues in this repo</div>
                            }

                            <h4>Pull requests in this repo <span class="badge">@repo.PullRequests.Count</span></h4>
                            @if (repo.PullRequests.Any())
                            {
                                <ul class="list-group">
                                    @foreach (var pullRequest in repo.PullRequests)
                                    {
                                        <li class="list-group-item" style="@(pullRequest.IsInAssociatedPersonSet ? "" : "background-color: wheat")">
                                            @await Html.PartialAsync("_PullRequest", pullRequest)
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <div style="margin-left: 2em;">No pull requests in this repo</div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div>
    <p class="text-center">Last updated on @Model.LastUpdated</p>
</div>

@section scripts
{
    <script type="text/javascript">
        $('#app-tabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $('.chevronButton').click(function () {
            $(this).find('#chevronGlyph').toggleClass('glyphicon-chevron-down glyphicon-chevron-right');
        });
    </script>
}
