@model NavigationBarViewModel

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/images/hubbup-menu-logo.png" style="padding-top:-10px" alt="Hubbup Logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><a class="nav-link @(Model.CurrentGroup == "" ? "active" : "")" href="@Url.Page("Index")">Home</a></li>
                <li class="nav-item"><a class="nav-link @(Model.CurrentGroup == "Mover" ? "active" : "")" href="/Mover">Issue Mover</a></li>
                <li class="nav-item"><a class="nav-link @(Model.CurrentGroup == "MikLabel" ? "active" : "")" href="/miklabel">MikLabel</a></li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li><p class="nav-item">Signed in as <a href="https://github.com/@Model.UserName">@Model.UserName</a></p></li>
            </ul>
        </div>
    </div>
</nav>
