@model LabelSuggestionPartialModel
@using System.Globalization
@using Hubbup.Web.ViewModels
@using Hubbup.Web.Utils

@{
    var hasConfidenceScore = Model.Score != null;

    var confidencePercent = (int)Math.Floor(100f * Model.Score?.Score ?? 0f);
    var confidenceHappinessStyle = confidencePercent > 80 ? "bg-success" : "bg-warning";
    var progressTextColor = confidencePercent > 80 ? "#fff" : "#000";
}

<div class="row" style="margin-top: 0.5em;">
    <div class="col-md-6">
        @await Html.PartialAsync("_Label", new LabelViewModel(Model.Label, Model.DesiredLabel))
    </div>
    <div class="col-md-3">
        @if (hasConfidenceScore)
        {
            <div class="progress" style="width: 4em">
                <div class="progress-bar @confidenceHappinessStyle"
                        title="Confidence score: @Model.Score.Score"
                        style="width: @(confidencePercent)%; color: @(progressTextColor)">
                    @if (confidencePercent > 40)
                    {
                        <text>
                            @(confidencePercent)%
                        </text>
                    }
                </div>
                @if (confidencePercent <= 40)
                {
                    <text>
                        @(confidencePercent)%
                    </text>
                }
            </div>
        }
    </div>
    <div class="col-md-3">
        @if (Model.Label?.Name == Model.DesiredLabel)
        {
            using (Html.BeginForm("ApplyLabel", "MikLabeler", routeValues: new { owner = Model.RepoOwner, repo = Model.RepoName, issueNumber = Model.Issue.Number, repoSetName = Model.RepoSetName }, FormMethod.Post))
            {
                <input type="hidden" name="prediction" value="@Model.Label.Name">
                <button type="submit" class="btn btn-sm btn-primary">Apply</button>
            }
        }
        else
        {
            // If the desired label doesn't exist in the repo, show an error label
            <div class="alert alert-danger">
                <strong>Error:</strong> Label doesn't exist in repo: @Model.DesiredLabel.
            </div>
        }
    </div>
</div>
