@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnvironment

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["PageTitlePrefix"] - Hubbup</title>

    <link rel="stylesheet" href="/dist/vendor.css" />
    <link rel="stylesheet" href="/dist/global.css" />
</head>
<body>

    @if (!string.Equals(HostingEnvironment.EnvironmentName, "Production", StringComparison.OrdinalIgnoreCase))
    {
        <div class="alert alert-info" style="text-align:center;"><h2>Current environment is: @HostingEnvironment.EnvironmentName</h2></div>
    }

    <vc:navigation-bar current-group="@ViewData["CurrentGroup"]" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; <a href="https://github.com/Eilon/Hubbup">Hubbup</a> - GitHub standup tool</p>
        </footer>
    </div>

    <script src="/dist/vendor.js"></script>
    <script src="/dist/global.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
